

<h1>Welcome to Yelpdemo!</h1>
<h2>This is one of the sample applications for BaseRails, a platform that teaches people to build awesome custom website with the ruby on rails programming language.</h2>
